@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url(./images/abstract-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.line{
  width: 150px;    
  height: 7px;    
  padding: 3px;    
  margin: 50px;
  background: rgb(208, 34, 40);
  margin-left:-80px;
  margin-right:2px;
  border:none;
}
.line2{
  width: 150px;    
  height: 7px;    
  padding: 3px;    
  margin: 35px;
  background: rgb(208, 34, 40);
  margin-left:115px;
  margin-right:50px;
  border:none;
}
.line3{
  width: 130px;    
  height: 7px;    
  padding: 3px;    
  margin: 35px;
  background: rgb(208, 34, 40);
  margin-left:60px;
  margin-right:-50px;
  text-align: center;
  border:none;
}
.line-4{
  width: 130px;    
  height: 7px;    
  padding: 3px;    
  margin: 35px;
  background: white;
  margin-left:-80px;
  margin-right:-50px;
  border:none;
}
.parent{
  overflow: hidden;
}
.image{
  background-size: cover;
  transition: all 1.1s;
}
.image:hover{
  transform: scale(1.2);
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .About-line{
    width: 150px;    
    height: 7px;    
    padding: 3px;    
    margin: 30px;
    margin-bottom: -50px;
    background: rgb(208, 34, 40);
    margin-left:-80px;
    margin-right:50px;
    border:none;
  }

  .line2{
    width: 150px;    
    height: 7px;    
    padding: 3px;    
    margin: 35px;
    background: rgb(208, 34, 40);
    margin-left:-40px;
    margin-right:20px;
    border:none;
  }

  .line3{
    width: 130px;    
    height: 7px;    
    padding: 3px;    
    margin: 35px;
    background: rgb(208, 34, 40);
    margin-left:400px;
    margin-right:-50px;
    text-align: center;
    border:none;
  }

  /* .About-line{
    width: 150px;    
    height: 7px;    
    padding: 3px;    
    margin: 30px;
    margin-bottom: -50px;
    background: rgb(208, 34, 40);
    margin-left:-80px;
    margin-right:50px;
    border:none;
  } */
}

.line4{
  width: 130px;    
  height: 7px;    
  padding: 3px;    
  margin: 35px;
  background: rgb(208, 34, 40);
  margin-left:-70px;
  margin-right:-50px;
  border:none;
}